<mat-toolbar class="container" color="primary">


  <span class="example-fill-remaining-space">Espace Admin</span>
  <span><img  alt="Avatar" class="avatar" src="assets/login.png"></span>

  <span *ngIf="connectedUser!=null">
    {{connectedUser.nom || ""}} {{connectedUser.prenom || ""}}
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Mon Profil</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </span>

</mat-toolbar>



<router-outlet></router-outlet>