<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>user name </h2>
            <h4>username@email.com</h4>
        </div>
        <img src="" alt="username">
    </div>


    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Ajouter formation </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Mes messages </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Mes formations </a>


    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>
