#edit{
    
    background-color:#db4343 ;
    border: #db4343;
}
#delete{
    
    background-color:rgba(0, 0, 0, 0.616) ;
    border: #db4343;
}
#add{
    
    background-color:#db4343 ;
    border: #db4343;
     margin-top: 10px;
     margin-left: 94%;
}
.thead{
    background-color:rgba(167, 167, 167, 0.616) ;
   
    }
    .w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-sidebar{height:100%;width:200px;background-color:grey;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-teal,.w3-hover-teal:hover{color:#fff!important;background-color:grey}
.img{
    height: 50px;
}
