#edit{
    
    background-color:#db4343 ;
    border: #db4343;
}
#delete{
    
    background-color:rgba(0, 0, 0, 0.616) ;
    border: #db4343;
}
#add{
    
    background-color:#db4343 ;
    border: #db4343;
}