<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ti-icons@0.1.2/css/themify-icons.css">
<br>
<br>
<div class="row"  style="margin-left: 200px;"  >
<div   class="owl-item cloned" style="width: 350px; margin-right: 30px;" *ngFor="let cour of cours"  >
    <div class="single_course" >
        <div class="course_content"   >
            <span class="price">free</span>
            <span class="tag mb-4 d-inline-block">{{cour?.titre}}</span>
            <h4 class="mb-3">
                <a href="#">Le lien vers le cours</a>
            </h4>
            <p>
                <strong>Le formateur   :   </strong>{{cour?.userName}}
            </p>
        </div>
    </div>
    <br>
</div>
</div>
