<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
  </head>
  <body>
    <div class="showcase">
      <header>
        <h2 class="logo">
        Bienvenue dans Notre Platform Learnea
        </h2>
      </header>
      <video src="assets/videos/v1.mp4" muted loop autoplay></video>
    </div>

    <br/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><!----><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br />

    <h1 class="articles">Articles</h1>
    <div class="card-group">
        
      <div class="card">
        <img
          src="assets/images/i1.jpg"
          height="300"
          width="616"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"> E-learning rime avec efficacité</h5>
          <details class="card-text">
            <summary>
                Le e-learning offre aux formateurs un moyen efficace 
                de dispenser des cours aux apprenants. L’apprentissage en 
                ligne compte sur un certain nombre d’outils tels que les vidéos,
                les PDF, les podcasts, les tableaux blancs, etc. 
            </summary>
            Les formateurs, 
               qui peuvent aussi bien être des coachs en gestion d’entreprise,
               des professeurs ou autres professionnels, peuvent utiliser tous
               ces outils dans le cadre de leurs plans de cours afin d’offrir
               des programmes d’études plus riches.
               Un autre avantage du e-learning est qu’il permet aux apprenants 
               de suivre des cours depuis le lieu de leur choix, que ce soit de la maison,
                du bureau ou même en déplacement. Les cours en ligne peuvent être enregistrés,
                 archivés et partagés pour consultation ultérieure. Les apprenants peuvent ainsi
                  accéder au matériel pédagogique au moment qui leur convient le mieux.

Ainsi, le e-learning offre aux apprenants l’accessibilité, tant au niveau du temps que du lieu. Certaines formations professionnelles à distance sont même reconnues par le ministère de l’Éducation et de l’Enseignement supérieur (MEES).
          </details>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
     
      <div class="card">
        <img
          src="assets/images/i4.jpg"
          height="300"
          width="616"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Spring Boot – Le meilleur framework Java en 2020 ? </h5>
          <details class="card-text">
            <summary>
                Un peu d’histoire…
            </summary>
            La révolution des APIs change la manière de concevoir les applications. Historiquement, 
            lorsqu’on souhaitait faire du web en Java, il était nécessaire de concevoir une application
             capable de servir à la fois des pages HTML statiques et des pages webs dynamiques, ainsi que
              d’encapsuler la logique métier de l’application.

           Dans le bouillonnement des débuts de Java, de nombreux frameworks web ont vu le jour
              , tels que JSP et JSF, portés par des serveurs webs tels que Tomcat, et des serveurs d’applications Java EE tels que JBoss, WebSphere, WebLogic… L’idée ici n’est pas de faire l’historique des technologies, mais de mettre en perspective le contexte général de leur émergence avec leurs objectifs initiaux.

           Java EE et Spring : les deux plateformes tirent leur épingle du jeu
        Deux plateformes se sont progressivement imposées au fil du temps : le standard officiel Java EE 
        et le framework Spring. Chacun a ses avantages, et chaque chapelle se targue bien sûr d’avoir fait 
        le meilleur choix. Les deux mondes s’influencent, et partagent le principe de la génération des pages 
        côté serveur.

       Depuis quelques années, ce principe est largement remis en cause dans l’univers du web.
      Les principales raisons sont :

       L’incapacité des serveurs à monter en charge avec un gros volume de connexions
       Le transfert systématique de tous les éléments de la page entre deux navigations
      La difficulté de créer des applications réactives à cause du réseau
      La diversité des périphériques cibles
      Génération de la page web et traitement des données
     Les informaticiens étant des personnes réfléchies et partisanes du moindre effort ont décidé de couper 
     ce lien fort qui existait entre la génération de la page web et le traitement des données. Ainsi, les données 
     sont désormais traitées au sein des API et la gestion de la page est déportée côté client (le navigateur en
      l’occurrence, ou l’application mobile).

      Cette évolution représente un changement de paradigme très profond. Elle remet en cause toutes les technologies
       arrivées à maturité et installées dans le concept ancien où le serveur fait tout et le client ne fait rien.
        Elle est portée par l’essor de trois framework Javascript majeurs : Angular, React, et Vue.js. Peu importe 
        votre choix, nous nous intéressons ici à la manière de concevoir son API.
          </details>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
      <div class="card">
        <img
          src="assets/images/i2.jpg"
          height="300"
          width="616"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">Peut-on faire confiance à l'intelligence artificielle ?</h5>
          <details class="card-text">
            <summary>
                Ce n’est pas un problème purement philosophique. En déléguant nos décisions aux algorithmes 
                et à l’intelligence artificielle, nous ne 
                perdons pas seulement notre dignité humaine (ce qui n’est pas rien !) :
                 ces systèmes ont eux aussi leurs failles
            </summary>

             Le deep learning, technique parmi d’autres en intelligence artificielle,
             est à la fois celle qui occasionne le plus d’applications spectaculaires 
             et qui présente un inconvénient majeur : on ne sait pas en expliquer les résultats.
              Ce sont des réseaux de neurones qui fonctionnent comme des boîtes noires », souligne Sébastien Konieczny, 
              chercheur au Centre de recherche en informatique de Lens3. Avec cette forme d’intelligence artificielle en
               effet, on ne reconnaît pas un chat parce qu’« il a deux oreilles, quatre pattes, etc. » (raisonnement humain composé de règles et dicté à la machine), mais parce qu’il ressemble à une foultitude d’autres chats dont on aura fourni les images à la machine pour l’« entraîner ». Quant à savoir quelles ressemblances font tilt pour celle-ci, mystère et boule de gomme.

            « Or, il serait bon d’expliquer les raisons qui président aux choix importants, afin d’être en mesure de les justifier. Et garantir ainsi à chacun un traitement équitable », rappelle Raja Chatila, directeur de l’Institut des systèmes intelligents et de robotique4. Pourrait-on rendre ces systèmes plus transparents ? « Il y a des recherches sur “l’explicabilité” de ces boîtes noires, notamment financées par la DARPA »5, répond le chercheur. « Mais les réseaux de neurones ne sont que des calculs numériques : je ne vois pas comment on pourrait en extraire des concepts », observe Sébastien Konieczny. Or, personne n’acceptera de se voir refuser un prêt ou un poste intéressant à cause de la connexion 42 du réseau de neurones hélas inférieure à 0,2…
          </details>
          <p class="card-text">
            <small class="text-muted">Last updated 3 mins ago</small>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5 text-center">
        <div class="icon">
          <i class="fas fa-info"></i>
        </div>
        <h3>About us</h3>
        <p class="about">
          On a le plaisir de mettre à la disposition de nos chers patients et de
          leurs médecins la toute dernière technologie sécurisée du web pour
          leur permettre de consulter en temps réel les résultats de leurs
          analyses en utilisant leurs codes d'accès livrés par nos soins. A
          chaque changement vous recevrez un Email de notification. Pour toutes
          informations n'hésitez pas à nous contacter.
        </p>
      </div>
      <div class="col-md-7 text-center">
        <div class="icon">
          <i class="fas fa-address-book"></i>
        </div>
        <h3>Contact us</h3>
        <pre class="contact">
        <i class="fas fa-map-marker-alt"></i> <strong>Adresse :</strong> Medenine 
        <i class="fab fa-internet-explorer"></i><strong> SiteWeb :  </strong><a href="#">www.ilef.InfoService.tn</a>
        <i class="fas fa-envelope"></i><strong> Email : </strong><a href="#"> ilef.infoservice@gmail.com</a>
        

    </pre>
      </div>
    </div>

    <footer>All Right reserved © 2021</footer>
  </body>
</html>

